header {
    background-color: #6161e8;
    border: 1px solid black;
    font-size: 32px;
    text-decoration:none;
    width: 100%;
  }
  
   nav ul {
    align-items: center;
    margin: auto;
    width: 80%;
    display: flex;
    height: 150px;
    justify-content: space-around;
  }
  
  li {
    font-size: 1em;
    padding: 5px;
    margin-left: 3px;
    
  }
  
  main {
    display: flex;
  }
  
  aside {
    background-color: lightpink;
    border: 1px solid black;
    height: 100px;
    width: 30%;
  }
  
  article {
    align-items: flex-start;
    background-color: rgb(235, 186, 87);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  pic1 {
    margin-bottom: 50px;
  }
  
  footer {
    background-color: #6161e8;
    border: 1px solid black;
    height: 150px;
  } 
  
  img{
    height: 300px;
    width: 300px;
    margin: 25px;  
    border-radius: 10%;
  }

  section.no-voting img:hover{
    border: 2px solid rebeccapurple;
    cursor: none;
  }

  canvas{

    width: 800px !important;
    height:600px !important;
  
  }